<h1>New note</h1>

<h3>Topic: <%= @note.topic_name %></h3>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-4">
      <div class="card organic-card">
        <div class="card-body organic-card-body p-4">
          <%= render "form", note: @note %>
        </div>
      </div>
    </div>
  </div>
</div>
