<!-- app/views/search/index.html.erb -->
<h1>Search Results</h1>

<h2>Notes</h2>
<% if @search_results[:notes].any? %>
  <% @search_results[:notes].each do |note| %>
    <div>
      <h3><%= link_to note.title, note_path(note) %></h3>
      <p><%= truncate(note.content, length: 100) %></p>
    </div>
  <% end %>
<% else %>
  <p>No matching notes found.</p>
<% end %>

<h2>Topics</h2>
<% if @search_results[:topics].any? %>
  <% @search_results[:topics].each do |topic| %>
    <div>
      <h3><%= link_to topic.name, topic_path(topic) %></h3>
    </div>
  <% end %>
<% else %>
  <p>No matching topics found.</p>
<% end %>
