<p class="text-success"><%= notice %></p>

<h1 class="text-center mb-4"><%=current_user.username%>'s Friends</h1>

<center>
  <a href="#"> Friends </a> | <a href="#">Sent Requests</a> | <a href="#">Received Requests</a>

  <br>
  <br>

  <% @follow_requests.each do |follow_request| %>
    <p class="card-text">
      <%= render follow_request %>
    </p>
  <% end %>
</center>
