<div id="carouselExampleIndicators" class="carousel slide w-100" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!--<img src="https://www.chicagobooth.edu/-/media/project/chicago-booth/why-booth/a-global-footprint/a-persoanl-presence-across-north-america/harper/chicago-booth-harper-center.jpg?cx=0.56&cy=0.38&cw=940&ch=749&hash=1D4FD4CAD369D2A81D040B1F269C5715" class="d-block w-100" alt="...">-->
      <img src="#" class="d-block w-100" alt="...">

      <div class="carousel-caption d-none d-md-block">
        <h5> Troves </h5>
        <p> Gather your treasures </p>
      </div>

    </div>
    <div class="carousel-item">
      <!--<img src="https://www.chicagobooth.edu/-/media/project/chicago-booth/why-booth/a-global-footprint/a-persoanl-presence-across-north-america/gleacher/chicago-booth-gleacher.jpg?cx=0.56&cy=0.45&cw=940&ch=749&hash=AD768C1221AE493A19AD3C98E5E2AD0D" class="d-block w-100" alt="...">-->
      <img src="#" class="d-block w-100" alt="...">

      <div class="carousel-caption d-none d-md-block">
        <h5> Tools </h5>
        <p> Harness the tools </p>
      </div>

    </div>
    <div class="carousel-item">
      <!--<img src="https://uniconexed.org/wp-content/uploads/2022/03/U-Chicago-Booth-building.png" class="d-block w-100" alt="...">-->
      <img src="#" class="d-block w-100" alt="...">

      <div class="carousel-caption d-none d-md-block">
        <h5> Teases </h5>
        <p> Learn it with joy </p>
      </div>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
