@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.hero {
  background: linear-gradient(145deg, #e0e4e5, #f5f5f5);
  color: #343a40;
  padding: 80px 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.7);
}

.section-title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}

.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.display-4 {
  font-size: 3.75rem;
  color: black;
}

.display-4 .gold {
  color: gold;
}

.features {
  font-size: 1.25rem;
  line-height: 1.6;
}

.highlight-box {
  display: inline-block;
  padding: 2px 8px;
  max-width: 100px; /* Adjust this value as needed */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: yellow; /* Replace with your desired highlight color */
  border-radius: 12px; /* Keeps the highlight rounded */
  vertical-align: middle; /* Aligns the highlighted text with the rest */
}


.troves {
  background-color: #ffeb3b;
  color: #343a40;
}

.tools {
  background-color: #4caf50;
  color: #fff;
}

.teases {
  background-color: #f44336;
  color: #fff;
}

.cursive {
  font-family: 'Pacifico', cursive;

  color: #800080;
  position: relative;
  display: inline-block;
  white-space: normal; /* Allow text to wrap */

.welcome {
  font-size: 2.5rem;
  color: #800080;
}
