/* Hide the checkbox */
.toggle-star {
  display: none;
}

/* Default star color */
.icon-star {
  color: purple;
  /* Color for the star when off */
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s;
}

/* Color change when checked */
.toggle-star:checked+.icon-label .icon-star {
  color: purple;
  /* Color for the star when on */
}

/* Cursor for sortable headers */
th.sortable {
  cursor: pointer;
}

/* Styles for the sort icons */
.sort-icon {
  margin-left: 5px;
}
